<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <form>
  <div id="login-block">
    <ion-input label="User" class="login_input" type="email"#email required></ion-input>
    <ion-input label="Password" class="login_input" type="password"#password required></ion-input>
    <ion-button (click)="logIn(email, password)">Login</ion-button>
  </div>
</form>
  <div id="register-access-block">
    <button id="register-button" [routerLink]="['/user-register']">Create an account here!</button>
  </div>

</ion-grid>
