
   #register-block{
       margin-bottom: 20%;
       text-align: center;

      
   }
   #register-validate-block{
       margin-top: 60%;
       text-align: center;
   }
   ion-item{
    border: 1px honeydew;
   }
   
   ion-button{
       margin-top: 10%;
   }
   ion-content{
     position: absolute;
   }
   #image{
    text-align: center;
    margin: 5%
   }
   

