
ion-content {
  height: 100%;
  width: 100%;
  --background: radial-gradient(
      100% 154.22% at 22.01% 0%,
      #3d348b 22.47%,
      #393cb8 34.28%,
      #7678ed 57.17%,
      #c081d0 81.35%,
      #f7b801 96.55%
    );
  --background-attachment: fixed;
  --ion-font-family: "Arial";
  --ion-font-weight: 600;
}


ion-nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding-top: 20px;
  background-color: --background;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ion-item {
  --highlight-height: 0;
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}

ion-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


ion-avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

ion-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}

p {
  font-size: 14px;
  color: #666;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}

ion-toolbar {
  --ion-color-primary: #3d348b;
  --ion-color-primary-contrast: #fff;
  --ion-background-color: #fff;
  --ion-text-color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ion-title {
  font-size: 16px;
  font-weight: bold;
}

